name: Deploy GitHub Pages

on:
  push:
    branches:
      - master  # or 'main' if your branch is main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v3
        with:
          timeout-minutes: 30  # Increased timeout
